<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327982515795-3ae3brkfa7400pkc50ebom5coh7p2890.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327982515795-3ae3brkfa7400pkc50ebom5coh7p2890</string>
	<key>API_KEY</key>
	<string>AIzaSyBRervGIvxWMz1nW0AlYQiRT5HE-IOFN8E</string>
	<key>GCM_SENDER_ID</key>
	<string>327982515795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.fcs.fryzjer</string>
	<key>PROJECT_ID</key>
	<string>fryzjer-essa</string>
	<key>STORAGE_BUCKET</key>
	<string>fryzjer-essa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327982515795:ios:63e8cfbf200a9e3f3028a6</string>
</dict>
</plist>